@import "components-css/_circles.scss";
@import "components-css/_circle1.scss";
@import "components-css/_circle2.scss";
@import "components-css/_buttons.scss";
@import "components-css/_button1.scss";
@import "components-css/_button2.scss";
@import "components-css/_button3.scss";
@import "components-css/_button4.scss";
@import "components-css/_button5.scss";
@import "components-css/_button6.scss";
@import "components-css/_button7.scss";
@import "components-css/_button8.scss";
@import "components-css/_button9.scss";
@import "components-css/_button10.scss";
@import "components-css/_button11.scss";
@import "components-css/_button12.scss";
@import "components-css/_button13.scss";
@import "components-css/_button14.scss";
@import "components-css/_button15.scss";
@import "components-css/_button16.scss";
@import "components-css/_button17.scss";
@import "components-css/_button18.scss";

:root {
  --dark-color: #071952;
  --dark-teal: #0b666a;
  --teal: #35a29f;
  --light-teal: #97feed;
  --red: #f44336;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--dark-teal);
}

.container {
  margin: 0 50px;
}
