@import "components-css/_circles.scss";
@import "components-css/_circle1.scss";
@import "components-css/_circle2.scss";
@import "components-css/_buttons.scss";

:root {
  --dark-color: #071952;
  --dark-teal: #0b666a;
  --teal: #35a29f;
  --light-teal: #97feed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 50px;
}
