.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 40px;
  flex-wrap: wrap;
  background-color: white;
  z-index: 1;

  &__dark {
    background-color: var(--dark-color);
  }
}

a {
  text-decoration: none;
}
